<div class="login-container">
    @if(_Refresh){
    <mat-spinner></mat-spinner>
    } @else{
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                Email is required
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                Please enter a valid email
            </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                Password is required
            </mat-error>
            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
                Minimum 6 characters required
            </mat-error>
        </mat-form-field>

        <!-- Submit Button -->
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading">
            <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="20"
                strokeWidth="3"></mat-progress-spinner>
            <span *ngIf="!isLoading">Login</span>
        </button>

        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>

    </form>
    }
</div>